body{
  background-image: linear-gradient(to buttom, rgb(32,35,42), rgb(43,47,56));
  
}

.menuzinho{
  position:fixed; /*deixa ele fixo em cima*/
  top:0; /*cola no top*/
  left: 0; /*cola na esquerda*/
  width: 100%;
  padding: 0; /*o espaçamento interno*/
  z-index: 1000; /*fica em cima dos outros elementos*/
  background-color: rbg(32, 35, 42); 
}

.menuzinho ul{
display:flex; /*isso vai fazer eles ficarem um do lado do outro*/
list-style: none; /*isso aqui vai tirar as bolinhas da lista*/
margin: 15px;
padding: 0;
}

.menuzinho li{
  margin-right: 20px;
}

.menuzinho a{
  text-decoration: none;
}

#mDiferente{
  margin-left: auto;
  padding-right: 30px;
}