/* src/index.css (Corrigido e Limpo) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}